[Desktop Entry]
Name=Clip
TryExec=clip
Exec=clip %U
Terminal=false
Type=Application
Categories=Qt;KDE;Multimedia;
GenericName=Video Player
GenericName[ast]=Reproductor de vídeos
GenericName[ca]=Reproductor de vídeo
GenericName[ca@valencia]=Reproductor de vídeo
GenericName[en_GB]=Video Player
GenericName[es]=Reproductor de vídeo
GenericName[fi]=Videosoitin
GenericName[fr]=Lecteur vidéo
GenericName[hu]=Videolejátszó
GenericName[it]=Lettore video
GenericName[nl]=Videospeler
GenericName[nn]=Videoavspelar
GenericName[pt]=Leitor de Vídeo
GenericName[sk]=Prehrávač videa
GenericName[sl]=Predvajalnik videov
GenericName[sv]=Videospelare
GenericName[uk]=Відеопрогравач
GenericName[x-test]=xxVideo Playerxx
StartupNotify=true
Icon=maui-clip
MimeType=video/dv;video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;video/x-flv;video/vnd.rn-realvideo;video/mp4;video/mp4v-es;video/mp2t;application/ogg;application/x-ogg;video/x-ogm+ogg;application/x-matroska;video/x-matroska;video/webm;
